---
http_interactions:
- request:
    method: get
    uri: https://www.darkstore.com/v1/api/skus?zip=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"821-RwXLNJN3w9QSVLsHSqF294eIE5c"
    body:
      encoding: UTF-8
      string: '[{"id":918,"sku":"TESTSKU1","title":"Test Sku 1","images":"[{\"url\":\"https://res.cloudinary.com/darkstore/image/upload/v1507658714/svm2pke17jkgmmvx97q9.jpg\",\"mime\":\"jpg\",\"height\":854,\"width\":1280}]","upc":"100000001","price":{"amount":10,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":false,"available":994},{"id":919,"sku":"TESTSKU2","title":"Test
        SKU 2","images":"[{\"url\":\"https://res.cloudinary.com/darkstore/image/upload/v1507658747/btdrowy0npctla5khgrb.jpg\",\"mime\":\"jpg\",\"height\":854,\"width\":1280}]","upc":"100000002","price":{"amount":10,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":false,"available":994},{"id":920,"sku":"TESTSKUBUNDLE1","title":"Test
        SKU Bundle 1","images":"[{\"url\":\"https://res.cloudinary.com/darkstore/image/upload/v1507658780/per4tenotxyam6err2ws.jpg\",\"mime\":\"jpg\",\"height\":854,\"width\":1280}]","upc":"100000003","price":{"amount":10,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":true,"available":994,"bundled_skus":[{"id":918,"sku":"TESTSKU1","title":"Test
        Sku 1","images":"[{\"url\":\"https://res.cloudinary.com/darkstore/image/upload/v1507658714/svm2pke17jkgmmvx97q9.jpg\",\"mime\":\"jpg\",\"height\":854,\"width\":1280}]","upc":"100000001","price":{"amount":10,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":false},{"id":919,"sku":"TESTSKU2","title":"Test
        SKU 2","images":"[{\"url\":\"https://res.cloudinary.com/darkstore/image/upload/v1507658747/btdrowy0npctla5khgrb.jpg\",\"mime\":\"jpg\",\"height\":854,\"width\":1280}]","upc":"100000002","price":{"amount":10,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":false}]},{"id":24,"sku":"Queen
        TN23Q","title":null,"images":null,"upc":"8514740050734","price":{"amount":600,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":false,"available":100},{"id":25,"sku":"King
        TN23K","title":null,"images":null,"upc":"8514740050802","price":{"amount":750,"currency":"usd"},"color":null,"size":null,"archived":false,"bundle":false,"available":100}]'
  recorded_at: Thu, 21 Dec 2017 15:18:53 GMT
recorded_with: VCR 4.0.0
