---
http_interactions:
- request:
    method: get
    uri: https://www.darkstore.com/v1/api/delivery_rates?cart=%7B%22FB-FBQ0%22:1%7D&order=%7B%22zip%22:%2202108%22%7D&product_name=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: Invalid token
  recorded_at: Wed, 21 Feb 2018 15:48:48 GMT
- request:
    method: get
    uri: https://www.darkstore.com/v1/api/delivery_rates?cart=%7B%22FB-FBQ0%22:1%7D&order=%7B%22zip%22:%2211101%22%7D&product_name=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c7-Kslevn7Si34p12v1zf5ehEAGDKc"
    body:
      encoding: UTF-8
      string: '{"rates":[{"delivery":"Same Day","carrier":"TForce","service":"SameDayWhiteGlove","rate":31.95,"delivery_date":"02/21","order_date":"2018-02-21T00:00:00+00:00","priority":2,"darkstore_location":"New
        York City - TForce","darkstore_id":9},{"delivery":"Same Day","carrier":"TForce","service":"SameDay","rate":21.95,"delivery_date":"02/21","order_date":"2018-02-21T00:00:00+00:00","priority":2,"darkstore_location":"New
        York City - TForce","darkstore_id":9}]}'
  recorded_at: Wed, 21 Feb 2018 16:03:08 GMT
recorded_with: VCR 4.0.0
