---
http_interactions:
- request:
    method: post
    uri: https://www.darkstore.com/v1/api/login
    body:
      encoding: UTF-8
      string: '{"email":"<email>","password":"<password>"}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2-k697HPP6hXjaJ/bzFFzRMjU5jE8"
    body:
      encoding: UTF-8
      string: '{"darkstoreToken":"<darkstoreToken>"}'
  recorded_at: Thu, 21 Dec 2017 09:33:08 GMT
recorded_with: VCR 4.0.0
