---
http_interactions:
- request:
    method: get
    uri: https://www.darkstore.com/v1/api/delivery_rates?cart=%7B%221270%22:1%7D&order=%7B%22zip%22:%2202108%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a9-QCoyTK+IRU4wIpZKxYHiXvjEHRo"
    body:
      encoding: UTF-8
      string: '{"rates":[{"delivery":"Same Day","carrier":"TForce","service":"SameDayWhiteGlove","rate":31.95,"delivery_date":"12/21","order_date":"2017-12-21T00:00:00+00:00","priority":2,"darkstore_location":"Boston","darkstore_id":14},{"delivery":"Same
        Day","carrier":"TForce","service":"SameDay","rate":21.95,"delivery_date":"12/21","order_date":"2017-12-21T00:00:00+00:00","priority":2,"darkstore_location":"Boston","darkstore_id":14}]}'
  recorded_at: Thu, 21 Dec 2017 11:55:44 GMT
recorded_with: VCR 4.0.0
