---
http_interactions:
- request:
    method: post
    uri: https://www.darkstore.com/v1/api/customer_order
    body:
      encoding: UTF-8
      string: '{"customer":{"first_name":"John","last_name":"Doe","email":"john.doe@example.com","phone":"4159320238"},"order":{"address":"49-29
        30th Place","apt_suite":"400a","city":"New York","state":"NY","zip":"11101","instructions":"Leave
        the pack in front of the door","delivery":"Next Day","delivery_carrier":"TForce","delivery_service":"SameDay"},"product_name":true,"date":"2017-12-10","cart":{"TESTSKU1":1}}'
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c-TI2zJmZFbD97TjSmnfTcFHlkbiU"
    body:
      encoding: UTF-8
      string: '{"id":17956}'
  recorded_at: Tue, 02 Jan 2018 15:13:32 GMT
recorded_with: VCR 4.0.0
